/*--media query--*/
@media screen and  (max-width:320px){
     /*--Home--*/
    .top-header .top-nav ul{

        justify-content: center;
    }

    .top-header .top-nav ul li {
        margin-right:9px;
    }
    .top-header .top-nav ul li a {

        font-size:8px;
    }


    .top-header .top-nav-right{
       float:unset;
       margin-top:8px
    }

    .middle-header .navbar-brand {
       
        width: 100%;
        text-align: center;
    }
    .middle-header .navbar-brand img {

        width:60%;

    }
    .middle-header ul {
        display: none !important;
    }
     
    .middle-header .get-credit{

        text-align: center;
        display: block;
        margin: 0 auto;
        width: 160px;
        font-size: 12px;

    }
    
    .nav-toggle {

        display:block;
    }

    .responsive-midle-header ul li a {
        
        font-size: 22px;
    }

    .search-form {
       
        height: 80px;
        padding: 20px;
    }

    .search-form .close-it {

        margin-top: -50px;
    }
    .owl .item .image .overlay .caption {

        text-align: center;
    }
  
   
    .owl .item .image .overlay .caption .sub-title{

        font-size:17px;
        line-height: 35px;
    }

    .owl .item .image .overlay .caption .main-title {

        font-size:25px;
        line-height: 55px;
    }

    .owl .owl-nav {
        position: absolute;
        bottom:40%;
    }

    .about-sec .content .icon{

        width:100%;
        line-height: 95px;
        height: 100%;
    }

    .about-sec .content .text {

        text-align: center;
        height: 100%;
    }

    .about-sec .content .text a{

        position:unset;
        bottom:unset;
    }
    .why-choose-sec .col-lg-4{

        margin-bottom: 30px;
    }
    .why-choose-sec .image {

        height:100%;
    }


    .process-sec .content {
        position: relative;
        margin-bottom: 100px;

    }
    .process-sec .content::before {
        position: absolute;
        left: 45%;
         right:unset !important;
    }

    .process-sec .col-lg-3:first-child .content::after {

        right:unset; 
    }
    .process-sec .col-lg-3:first-child .content::after, 
    .process-sec .col-lg-3:last-child .content::after {
        width:100%; 
    }


    .experts-sec .col-lg-3{

        margin-bottom:30px;

    }

    .testimonials-sec .col-md-12{

        margin-bottom:15px;
    }

    .testimonials-sec .testimonials-owl .text h4{

        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text h5 {
       
        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text p{
       
        text-align: center;
    }
    .world-wide-sec .col-lg-6{

        display: block;
        margin: 0 auto 30px;
        text-align: center;


    }
    .world-wide-sec .head {
        text-align:center; 
    }
    .world-wide-sec .head p {

         width: 100%;
    }
    .article-sec .col-lg-4{

        margin-bottom: 30px;

    }

    .article-sec .side-content {
       
        height:initial;
    }
    .article-sec .side-content img {
        height:100%;
    }

    .article-sec .side-content .text{

        text-align: center;
        margin: 10px 0;
        padding: 0 9px;
    
    }
    .contact-sec .content {

        height: 100%;
    }

    footer .col-md-12{

        margin-bottom: 30px;
    }
    footer .content .navbar-brand img {

        width:60%;
    }
    .copy-right .col-lg-6{

        display: block;
        margin: 0 auto;
        text-align: center;

    }
    .copy-right .content ul {

        float: unset; 
        justify-content: center;
        margin-bottom: 20px;
    }
      /*--//Home--*/
    /*--About--*/

    .about-effrs-sec .col-lg-6{

        margin-bottom: 30px;
    }

    .about-effrs-sec .head {
        
        text-align:center; 
    }

    .about-effrs-sec .vision-goals .col-sm-12{

        margin-bottom: 15px;


    }
    .about-effrs-sec .vision-goals .content{

        
        text-align: center;
    }

    /*--//About--*/
    /*--Mission and Vision--*/
    .services-sec .second-part  .col-lg-4{

        margin-bottom: 30px;
      }
  
      .services-sec aside{
  
          margin-top: 30px;
  
      }
      .services-sec .third-part .nav-tabs .nav-link{

        padding: .5rem .6rem;
      }
    /*--//Mission and Vision--*/
       /*--privacy policy--*/
       .privacy-policy-sec .content .image {
       
        height:100%; 
    }
     /*--//privacy policy--*/
      /*--Contact Us--*/

      .contact-us-sec .col-md-12{

        margin-bottom: 30px
    }
    
    /*--//Contact Us--*/
     /*--How we Help--*/
     .how-we-help-sec .text {
        
        padding-top:0;
    }

    .how-we-help-sec  .col-lg-6{

        margin-bottom: 30px;
    }
     /*--//How we Help--*/
     /*--Get Credit--*/
    .get-credit-sec .col-lg-6:nth-child(3) .image,
    .get-credit-sec .col-lg-6:nth-child(4) .image,
    .get-credit-sec .col-lg-6:nth-child(7) .image, 
    .get-credit-sec .col-lg-6:nth-child(8) .image, 
    .get-credit-sec .col-lg-6:nth-child(3) .white, 
    .get-credit-sec .col-lg-6:nth-child(4) .white,
    .get-credit-sec .col-lg-6:nth-child(7) .white,
    .get-credit-sec .col-lg-6:nth-child(8) .white {
        height: 100%;
    }
    .get-credit-sec .text {

        padding-top:0;
        text-align: center;
    }
    .get-credit-sec .col-lg-6 {
        margin-bottom: 30px;
    }

    .get-credit-sec .col-lg-6:nth-child(3), 
    .get-credit-sec .col-lg-6:nth-child(4), 
    .get-credit-sec .col-lg-6:nth-child(7), 
    .get-credit-sec .col-lg-6:nth-child(8) {
        padding-left:15px;
        padding-right:15px;
        margin-bottom: 0;
    }

    .get-credit-sec .white {
        
        padding: 40px;
    }
    .get-credit-sec .col-lg-6:nth-child(4){

        margin-bottom: 30px;
    }
    /*--//Get Credit--*/
}
@media screen and (max-width:375px) and (min-width:321px){

     /*--Home--*/
    .top-header .top-nav ul{

        justify-content: center;
    }

    .top-header .top-nav ul li {
        margin-right:10px;
    }
    .top-header .top-nav ul li a {

        font-size:9px;
    }


    .top-header .top-nav-right{
       float:unset;
       margin-top:8px
    }

    .middle-header .navbar-brand {
       
        width: 100%;
        text-align: center;
    }
    .middle-header .navbar-brand img {
        width:45%;
    }
    .middle-header ul {
        display: none !important;
    }
     
    .middle-header .get-credit{

        text-align: center;
        display: block;
        margin: 0 auto;
        width: 160px;
        font-size: 12px;

    }

    .nav-toggle {

        display:block;
    }
    .search-form {
       
        height: 80px;
        padding: 20px;
    }

    .search-form .close-it {

        margin-top: -50px;
    }
    .owl .item .image .overlay .caption {

        text-align: center;
    }
  
   
    .owl .item .image .overlay .caption .sub-title{

        font-size: 20px;
    }

    .owl .item .image .overlay .caption .main-title {

        font-size:35px;
    }

    .owl .owl-nav {
        position: absolute;
        bottom:37%;
    }

    .about-sec .content .icon{

        width:100%;
        line-height: 95px;
        height: 100%;
    }

    .about-sec .content .text {

        text-align: center;
        height: 100%;
    }

    .about-sec .content .text a{

        position:unset;
        bottom:unset;
    }
    .why-choose-sec .col-lg-4{

        margin-bottom: 30px;
    }
    .why-choose-sec .image {

        height:100%;
    }


    .process-sec .content {
        position: relative;
        margin-bottom: 100px;

    }
    .process-sec .content::before {
        position: absolute;
        left: 45%;
         right:unset !important;
    }

    .process-sec .col-lg-3:first-child .content::after {

        right:unset; 
    }
    .process-sec .col-lg-3:first-child .content::after, 
    .process-sec .col-lg-3:last-child .content::after {
        width:100%; 
    }


    .experts-sec .col-lg-3{

        margin-bottom:30px;

    }

    .testimonials-sec .col-md-12{

        margin-bottom:15px;
    }

    .testimonials-sec .testimonials-owl .text h4{

        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text h5 {
       
        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text p{
       
        text-align: center;
    }
    .world-wide-sec .col-lg-6{

        display: block;
        margin: 0 auto 30px;
        text-align: center;


    }
    .world-wide-sec .head {
        text-align:center; 
    }
    .world-wide-sec .head p {

         width: 100%;
    }
    .article-sec .col-lg-4{

        margin-bottom: 30px;

    }

    .article-sec .side-content {
       
        height:initial;
    }
    .article-sec .side-content img {
        height:100%;
    }

    .article-sec .side-content .text{

        text-align: center;
        margin: 10px 0;
        padding: 0 9px;
    
    }
    .contact-sec .content {

        height: 100%;
    }

    footer .col-md-12{

        margin-bottom: 30px;
    }
    footer .content .navbar-brand img {

        width:60%;
    }
    .copy-right .col-lg-6{

        display: block;
        margin: 0 auto;
        text-align: center;

    }
    .copy-right .content ul {

        float: unset; 
        justify-content: center;
        margin-bottom: 20px;
    }

     /*--//Home--*/
    /*--About--*/

    .about-effrs-sec .col-lg-6{

        margin-bottom: 30px;
    }

    .about-effrs-sec .head {
        
        text-align:center; 
    }

    .about-effrs-sec .vision-goals .col-sm-12{

        margin-bottom: 15px;


    }
    .about-effrs-sec .vision-goals .content{

        
        text-align: center;
    }

    /*--//About--*/
    /*--Mission and Vision--*/
    .services-sec .second-part  .col-lg-4{

        margin-bottom: 30px;
      }
  
      .services-sec aside{
  
          margin-top: 30px;
  
      }
    /*--//Mission and Vision--*/

       /*--privacy policy--*/
       .privacy-policy-sec .content .image {
       
        height:100%; 
    }
     /*--//privacy policy--*/
    /*--Contact Us--*/

    .contact-us-sec .col-md-12{

        margin-bottom: 30px
    }
    
    /*--//Contact Us--*/
     /*--How we Help--*/
     .how-we-help-sec .text {
        
        padding-top:0;
    }

    .how-we-help-sec  .col-lg-6{

        margin-bottom: 30px;
    }
     /*--//How we Help--*/
     /*--Get Credit--*/
    .get-credit-sec .col-lg-6:nth-child(3) .image,
    .get-credit-sec .col-lg-6:nth-child(4) .image,
    .get-credit-sec .col-lg-6:nth-child(7) .image, 
    .get-credit-sec .col-lg-6:nth-child(8) .image, 
    .get-credit-sec .col-lg-6:nth-child(3) .white, 
    .get-credit-sec .col-lg-6:nth-child(4) .white,
    .get-credit-sec .col-lg-6:nth-child(7) .white,
    .get-credit-sec .col-lg-6:nth-child(8) .white {
        height: 100%;
    }
    .get-credit-sec .text {

        padding-top:0;
        text-align: center;
    }
    .get-credit-sec .col-lg-6 {
        margin-bottom: 30px;
    }

    .get-credit-sec .col-lg-6:nth-child(3), 
    .get-credit-sec .col-lg-6:nth-child(4), 
    .get-credit-sec .col-lg-6:nth-child(7), 
    .get-credit-sec .col-lg-6:nth-child(8) {
        padding-left:15px;
        padding-right:15px;
        margin-bottom: 0;
    }

    .get-credit-sec .white {
        
        padding: 40px;
    }
    .get-credit-sec .col-lg-6:nth-child(4){

        margin-bottom: 30px;
    }
    /*--//Get Credit--*/

}
@media screen and (max-width:425px) and (min-width:376px){
    /*--Home--*/
    .top-header .top-nav ul{

        justify-content: center;
    }

    .top-header .top-nav ul li {
        margin-right: 14px;
    }
    .top-header .top-nav ul li a {
        font-size: 11px;
    }
    

    .top-header .top-nav-right{
       float:unset;
       margin-top:8px
    }

    .middle-header .navbar-brand {
       
        width: 100%;
        text-align: center;
    }
    .middle-header .navbar-brand img {
        width:40%;
    }

    .middle-header ul {

        display: none !important;
    }
     
    .middle-header .get-credit{

        text-align: center;
        display: block;
        margin: 0 auto;
        width: 160px;
        font-size: 12px;

    }

    .nav-toggle {

        display:block;
    }
    .search-form {
       
        height: 80px;
        padding: 20px;
    }

    .search-form .close-it {

        margin-top: -50px;
    }
    .owl .item .image .overlay .caption {

        text-align: center;
    }
  
   
    .owl .item .image .overlay .caption .sub-title{

        font-size: 20px;
    }

    .owl .item .image .overlay .caption .main-title {

        font-size:35px;
    }

    .owl .owl-nav {
        position: absolute;
        bottom:37%;
    }

    .about-sec .content .icon{

        width:100%;
        line-height: 95px;
        height: 100%;
    }

    .about-sec .content .text {

        text-align: center;
        height: 100%;
    }

    .about-sec .content .text a{

        position:unset;
        bottom:unset;
    }
    .why-choose-sec .col-lg-4{

        margin-bottom: 30px;
    }
    .why-choose-sec .image {

        height:100%;
    }


    .process-sec .content {
        position: relative;
        margin-bottom: 100px;

    }
    .process-sec .content::before {
        position: absolute;
        left: 45%;
         right:unset !important;
    }

    .process-sec .col-lg-3:first-child .content::after {

        right:unset; 
    }
    .process-sec .col-lg-3:first-child .content::after, 
    .process-sec .col-lg-3:last-child .content::after {
        width:100%; 
    }


    .experts-sec .col-lg-3{

        margin-bottom:30px;

    }

    .testimonials-sec .col-md-12{

        margin-bottom:15px;
    }

    .testimonials-sec .testimonials-owl .text h4{

        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text h5 {
       
        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text p{
       
        text-align: center;
    }
    .world-wide-sec .col-lg-6{

        display: block;
        margin: 0 auto 30px;
        text-align: center;


    }
    .world-wide-sec .head {
        text-align:center; 
    }
    .world-wide-sec .head p {

         width: 100%;
    }
    .article-sec .col-lg-4{

        margin-bottom: 30px;

    }

    .article-sec .side-content {
       
        height:initial;
    }
    .article-sec .side-content img {
        height:100%;
    }

    .article-sec .side-content .text{

        text-align: center;
        margin: 10px 0;
    
    }
    .contact-sec .content {

        height: 100%;
    }

    footer .col-md-12{

        margin-bottom: 30px;
    }
    footer .content .navbar-brand img {

        width:60%;
    }
    .copy-right .col-lg-6{

        display: block;
        margin: 0 auto;
        text-align: center;

    }
    .copy-right .content ul {

        float: unset; 
        justify-content: center;
        margin-bottom: 20px;
    }
    /*--//Home--*/
    /*--About--*/

       .about-effrs-sec .col-lg-6{

        margin-bottom: 30px;
    }

    .about-effrs-sec .head {
        
        text-align:center; 
    }

    .about-effrs-sec .vision-goals .col-sm-12{

        margin-bottom: 15px;


    }
    .about-effrs-sec .vision-goals .content{

        
        text-align: center;
    }

    /*--//About--*/

    /*--Mission and Vision--*/
    .services-sec .second-part  .col-lg-4{

        margin-bottom: 30px;
      }
  
      .services-sec aside{
  
          margin-top: 30px;
  
      }
    /*--//Mission and Vision--*/
       /*--privacy policy--*/
       .privacy-policy-sec .content .image {
       
        height:100%; 
    }
     /*--//privacy policy--*/
       /*--Contact Us--*/

    .contact-us-sec .col-md-12{

        margin-bottom: 30px
    }
    
    /*--//Contact Us--*/
     /*--How we Help--*/
     .how-we-help-sec .text {
        
        padding-top:0;
    }

    .how-we-help-sec  .col-lg-6{

        margin-bottom: 30px;
    }
     /*--//How we Help--*/
     /*--Get Credit--*/
    .get-credit-sec .col-lg-6:nth-child(3) .image,
    .get-credit-sec .col-lg-6:nth-child(4) .image,
    .get-credit-sec .col-lg-6:nth-child(7) .image, 
    .get-credit-sec .col-lg-6:nth-child(8) .image, 
    .get-credit-sec .col-lg-6:nth-child(3) .white, 
    .get-credit-sec .col-lg-6:nth-child(4) .white,
    .get-credit-sec .col-lg-6:nth-child(7) .white,
    .get-credit-sec .col-lg-6:nth-child(8) .white {
        height: 100%;
    }
    .get-credit-sec .text {

        padding-top:0;
        text-align: center;
    }
    .get-credit-sec .col-lg-6 {
        margin-bottom: 30px;
    }

    .get-credit-sec .col-lg-6:nth-child(3), 
    .get-credit-sec .col-lg-6:nth-child(4), 
    .get-credit-sec .col-lg-6:nth-child(7), 
    .get-credit-sec .col-lg-6:nth-child(8) {
        padding-left:15px;
        padding-right:15px;
        margin-bottom: 0;
    }

    .get-credit-sec .white {
        
        padding: 40px;
    }
    .get-credit-sec .col-lg-6:nth-child(4){

        margin-bottom: 30px;
    }
    /*--//Get Credit--*/
    

}
@media screen and (max-width:575px) and (min-width:426px){
     /*--Home--*/
    .top-header .top-nav ul{

        justify-content: center;
    }
    
    
    .top-header .top-nav ul li a {
        font-size: 12px;
    }
    .top-header .top-nav-right{
       float:unset;
       margin-top:8px
    }

    .middle-header .navbar-brand {
       
        width: 100%;
        text-align: center;
    }
    .middle-header .navbar-brand img {
        width: 30%;
    }
    .middle-header ul {

        display: none !important;
      
    }
     
    .middle-header .get-credit{

        text-align: center;
        display: block;
        margin: 0 auto;

    }

    .nav-toggle {
        
        display:block;
 
    }
    .search-form {
       
        height: 80px;
        padding: 20px 25px;
    }

    .search-form .close-it {

        margin-top: -50px;
    }

    .owl .item .image .overlay .caption .main-title {
        font-size: 45px;
    }
    .owl .item .image .overlay .caption {

        text-align: center;
    }

    .owl .owl-nav {
        position: absolute;
        bottom: 35%;
    }

    .about-sec .content .icon{

        width:100%;
        line-height: 95px;
        height: 100%;
    }

    .about-sec .content .text {

        text-align: center;
        height: 100%;
    }

    .about-sec .content .text a{

        position:unset;
        bottom:unset;
    }
    .why-choose-sec .col-lg-4{

        margin-bottom: 30px;
    }
    .why-choose-sec .image {

        height:100%;
    }


    .process-sec .content {
        position: relative;
        margin-bottom: 100px;

    }
    .process-sec .content::before {
        position: absolute;
        left: 45%;
         right:unset !important;
    }

    .process-sec .col-lg-3:first-child .content::after {

        right:unset; 
    }
    .process-sec .col-lg-3:first-child .content::after, 
    .process-sec .col-lg-3:last-child .content::after {
        width:100%; 
    }


    .experts-sec .col-lg-3{

        margin-bottom:30px;

    }

    .testimonials-sec .col-md-12{

        margin-bottom:15px;
    }

    .testimonials-sec .testimonials-owl .text h4{

        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text h5 {
       
        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text p{
       
        text-align: center;
    }
    .world-wide-sec .col-lg-6{

        display: block;
        margin: 0 auto 30px;
        text-align: center;


    }
    .world-wide-sec .head {
        text-align:center; 
    }
    .world-wide-sec .head p {

         width: 100%;
    }
    .article-sec .col-lg-4{

        margin-bottom: 30px;

    }

    .article-sec .side-content {
       
        height:initial;
    }
    .article-sec .side-content img {
        height:100%;
    }

    .article-sec .side-content .text{

        text-align: center;
        margin: 10px 0;
    
    }
    .contact-sec .content {

        height: 100%;
    }

    footer .col-md-12{

        margin-bottom: 30px;
    }
    footer .content .navbar-brand img {

        width: 45%;
    }
    .copy-right .col-lg-6{

        display: block;
        margin: 0 auto;
        text-align: center;

    }
    .copy-right .content ul {

        float: unset; 
        justify-content: center;
        margin-bottom: 20px;
    }
     /*--//Home--*/
    /*--About--*/

    .about-effrs-sec .col-lg-6{

        margin-bottom: 30px;
    }

    .about-effrs-sec .head {
        
        text-align:center; 
    }

    .about-effrs-sec .vision-goals .col-sm-12{

        margin-bottom: 15px;


    }
    .about-effrs-sec .vision-goals .content{


        text-align: center;
    }

    /*--//About--*/
   /*--Mission and Vision--*/
      .services-sec .second-part  .col-lg-4{

        margin-bottom: 30px;
      }
  
      .services-sec aside{
  
          margin-top: 30px;
  
      }
    /*--//Mission and Vision--*/
     /*--privacy policy--*/
    .privacy-policy-sec .content .image {
       
        height:100%; 
    }
     /*--//privacy policy--*/
       /*--Contact Us--*/

    .contact-us-sec .col-md-12{

        margin-bottom: 30px
    }
    
    /*--//Contact Us--*/
     /*--How we Help--*/
     .how-we-help-sec .text {
        
        padding-top:0;
    }

    .how-we-help-sec  .col-lg-6{

        margin-bottom: 30px;
    }
     /*--//How we Help--*/

     /*--Get Credit--*/
    .get-credit-sec .col-lg-6:nth-child(3) .image,
    .get-credit-sec .col-lg-6:nth-child(4) .image,
    .get-credit-sec .col-lg-6:nth-child(7) .image, 
    .get-credit-sec .col-lg-6:nth-child(8) .image, 
    .get-credit-sec .col-lg-6:nth-child(3) .white, 
    .get-credit-sec .col-lg-6:nth-child(4) .white,
    .get-credit-sec .col-lg-6:nth-child(7) .white,
    .get-credit-sec .col-lg-6:nth-child(8) .white {
        height: 100%;
    }
    .get-credit-sec .text {

        padding-top:0;
        text-align: center;
    }
    .get-credit-sec .col-lg-6 {
        margin-bottom: 30px;
    }

    .get-credit-sec .col-lg-6:nth-child(3), 
    .get-credit-sec .col-lg-6:nth-child(4), 
    .get-credit-sec .col-lg-6:nth-child(7), 
    .get-credit-sec .col-lg-6:nth-child(8) {
        padding-left:15px;
        padding-right:15px;
        margin-bottom: 0;
    }

    .get-credit-sec .white {
        
        padding: 40px;
    }
    .get-credit-sec .col-lg-6:nth-child(4){

        margin-bottom: 30px;
    }
    /*--//Get Credit--*/
}
@media screen and (max-width:768px) and (min-width:576px){

     /*--Home--*/
    .top-header .top-nav ul{

        justify-content: center;
    }

    .top-header .top-nav-right{
       float:unset;
       margin-top:8px
    }

    .middle-header .navbar-brand {
       
        width: 100%;
        text-align: center;
    }
    .middle-header .navbar-brand img {
        width: 25%;
    }
    .middle-header ul {
        display: none !important;
      }
     
    .middle-header .get-credit{

        text-align: center;
        display: block;
        margin: 0 auto;

    }

     .nav-toggle {
        display:block;
 
    }

    .search-form {
       
        height: 80px;
        padding: 20px 25px;
    }

    .search-form .close-it {

        margin-top: -50px;
    }

  
    .owl .item .image .overlay .caption .main-title {
        font-size: 45px;
    }

    .about-sec .content .icon{

        width:100%;
    }
    .why-choose-sec .col-lg-4{

        margin-bottom: 30px;
    }
    .why-choose-sec .image {

        height:100%;
    }


    .process-sec .content {
        position: relative;
        margin-bottom: 100px;

    }
    .process-sec .content::before {
        position: absolute;
        left: 45%;
         right:unset !important;
    }

    .process-sec .col-lg-3:first-child .content::after {

        right:unset; 
    }
    .process-sec .col-lg-3:first-child .content::after, 
    .process-sec .col-lg-3:last-child .content::after {
        width:100%; 
    }

    .process-sec .content .text p {
        font-size: 16px;
    }

    .experts-sec .col-lg-3{

        margin-bottom:30px;

    }

    .testimonials-sec .col-md-12{

        margin-bottom:15px;
    }

    .testimonials-sec .testimonials-owl .text h4{

        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text h5 {
       
        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text p{
       
        text-align: center;
    }
    .world-wide-sec .col-lg-6{

        display: block;
        margin: 0 auto 30px;
        text-align: center;


    }
    .world-wide-sec .head {
        text-align:center; 
    }
    .world-wide-sec .head p {

         width: 100%;
    }
    .article-sec .col-lg-4{

        margin-bottom: 30px;

    }
    .contact-sec .content {

        height: 100%;
    }

    footer .col-md-12{

        margin-bottom: 30px;
    }
    footer .content .navbar-brand img {

        width: 45%;
    }
    .copy-right .col-lg-6{

        display: block;
        margin: 0 auto;
        text-align: center;

    }
    .copy-right .content ul {

        float: unset; 
        justify-content: center;
        margin-bottom: 20px;
    }
       /*--//Home--*/
      /*--About--*/

      .about-effrs-sec .col-lg-6{

        margin-bottom: 30px;
    }

    .about-effrs-sec .head {
        
        text-align:center; 
    }

    /*--//About--*/

     /*--Mission and Vision--*/
     .services-sec .second-part  .col-lg-4{

        margin-bottom: 30px;
      }
  
      .services-sec aside{
  
          margin-top: 30px;
  
      }
      /*--//Mission and Vision--*/
     /*--Contact Us--*/

    .contact-us-sec .col-md-12{

        margin-bottom: 30px
    }
    
    /*--//Contact Us--*/
     /*--How we Help--*/
     .how-we-help-sec .text {
        
        padding-top:0;
    }

    .how-we-help-sec  .col-lg-6{

        margin-bottom: 30px;
    }
     /*--//How we Help--*/

     /*--Get Credit--*/
    .get-credit-sec .col-lg-6:nth-child(3) .image,
    .get-credit-sec .col-lg-6:nth-child(4) .image,
    .get-credit-sec .col-lg-6:nth-child(7) .image, 
    .get-credit-sec .col-lg-6:nth-child(8) .image, 
    .get-credit-sec .col-lg-6:nth-child(3) .white, 
    .get-credit-sec .col-lg-6:nth-child(4) .white,
    .get-credit-sec .col-lg-6:nth-child(7) .white,
    .get-credit-sec .col-lg-6:nth-child(8) .white {
        height: 100%;
    }
    .get-credit-sec .text {

        padding-top:0;
        text-align: center;
    }
    .get-credit-sec .col-lg-6 {
        margin-bottom: 30px;
    }

    .get-credit-sec .col-lg-6:nth-child(3), 
    .get-credit-sec .col-lg-6:nth-child(4), 
    .get-credit-sec .col-lg-6:nth-child(7), 
    .get-credit-sec .col-lg-6:nth-child(8) {
        padding-left:15px;
        padding-right:15px;
        margin-bottom: 0;
    }

    .get-credit-sec .white {
        
        padding: 40px;
    }
    .get-credit-sec .col-lg-6:nth-child(4){

        margin-bottom: 30px;
    }
    /*--//Get Credit--*/

}
@media screen and (max-width:991px) and (min-width:769px){

    /*--Home--*/
    
    .top-header .top-nav ul{

        justify-content: center;
    }

    .top-header .top-nav-right{
       float:unset;
       margin-top:8px
    }

    .middle-header .navbar-brand {
       
        width: 100%;
        text-align: center;
    }
    .middle-header .navbar-brand img {
        width: 25%;
    }
    .middle-header ul {
      display: none !important;
    }
   
    .middle-header .get-credit{

        text-align: center;
        display: block;
        margin: 0 auto;

    }

   
  .nav-toggle {
        display:block;
 
    }

    .search-form {
       
        height: 80px;
        padding: 20px 25px;
    }

    .search-form .close-it {

        margin-top: -50px;
    }


    .about-sec .content .icon{

        width:100%;
    }
    .why-choose-sec .col-lg-4{

        margin-bottom: 30px;
    }
    .why-choose-sec .image {

        height:100%;
    }


    .process-sec .content {
        position: relative;
        margin-bottom: 100px;

    }
    .process-sec .content::before {
        position: absolute;
        left: 45%;
         right:unset !important;
    }

    .process-sec .col-lg-3:first-child .content::after {

        right:unset; 
    }
    .process-sec .col-lg-3:first-child .content::after, 
    .process-sec .col-lg-3:last-child .content::after {
        width:100%; 
    }

    .process-sec .content .text p {
        font-size: 16px;
    }

    .experts-sec .col-lg-3{

        margin-bottom:30px;


    }

    .testimonials-sec .col-md-12{

        margin-bottom:15px;
    }

    .testimonials-sec .testimonials-owl .text h4{

        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text h5 {
       
        text-align: center;
    }
    .testimonials-sec .testimonials-owl .text p{
       
        text-align: center;
    }
    .world-wide-sec .col-lg-6{

        display: block;
        margin: 0 auto 30px;
        text-align: center;


    }
    .world-wide-sec .head {
        text-align:center; 
    }
    .world-wide-sec .head p {

         width: 100%;
    }
    .article-sec .col-lg-4{

        margin-bottom: 30px;

    }
    .contact-sec .content {

        height: 100%;
    }

    footer .col-md-12{

        margin-bottom: 30px;
    }
    footer .content .navbar-brand img {

        width: 45%;
    }
    .copy-right .col-lg-6{

        display: block;
        margin: 0 auto;
        text-align: center;

    }
    .copy-right .content ul {

        float: unset; 
        justify-content: center;
        margin-bottom: 20px;
    }
    /*--//Home--*/
    /*--About--*/

    .about-effrs-sec .col-lg-6{

        margin-bottom: 30px;
    }

    .about-effrs-sec .head {

        text-align:center; 
    }

    /*--//About--*/
    /*--Mission and Vision--*/
    .services-sec .second-part  .col-lg-4{

      margin-bottom: 30px;
    }

    .services-sec aside{

        margin-top: 30px;

    }
    /*--//Mission and Vision--*/

    /*--Contact Us--*/

    .contact-us-sec .col-md-12{

        margin-bottom: 30px
    }

    /*--//Contact Us--*/
    /*--How we Help--*/
    .how-we-help-sec .text {
        
        padding-top:0;
    }

    .how-we-help-sec  .col-lg-6{

        margin-bottom: 30px;
    }
     /*--//How we Help--*/

    /*--Get Credit--*/
    .get-credit-sec .col-lg-6:nth-child(3) .image,
    .get-credit-sec .col-lg-6:nth-child(4) .image,
    .get-credit-sec .col-lg-6:nth-child(7) .image, 
    .get-credit-sec .col-lg-6:nth-child(8) .image, 
    .get-credit-sec .col-lg-6:nth-child(3) .white, 
    .get-credit-sec .col-lg-6:nth-child(4) .white,
    .get-credit-sec .col-lg-6:nth-child(7) .white,
    .get-credit-sec .col-lg-6:nth-child(8) .white {
        height: 100%;
    }
    .get-credit-sec .text {

        padding-top:0;
        text-align: center;
    }
    .get-credit-sec .col-lg-6 {
        margin-bottom: 30px;
    }

    .get-credit-sec .col-lg-6:nth-child(3), 
    .get-credit-sec .col-lg-6:nth-child(4), 
    .get-credit-sec .col-lg-6:nth-child(7), 
    .get-credit-sec .col-lg-6:nth-child(8) {
        padding-left:15px;
        padding-right:15px;
        margin-bottom: 0;
    }

    .get-credit-sec .white {
        
        padding: 40px;
    }
    .get-credit-sec .col-lg-6:nth-child(4){

        margin-bottom: 30px;
    }
    /*--//Get Credit--*/
  
}
@media screen and (max-width:1024px) and (min-width:992px){

 /*--Home--*/

.top-header .col-lg-6{

    padding-left: 0;
    padding-right: 0;
}
.top-header .top-nav ul li {
    margin-right: 10px;
}

.middle-header .col-lg-6{

    padding-left: 0;
    padding-right: 0;

}
.middle-header ul li a {
  
    padding: .5rem .3rem;
}

.search-form {
    
    padding: 10px 30px 10px 20px;
}
.owl .item .image .overlay .caption .main-title {
    font-size: 45px;
}

.about-sec .content .icon {
    width: 65px;
}

.about-sec .content .text h4 {
 
    margin-bottom: 15px;
    font-size: 17px;
}

.about-sec .content .text a {
  
    bottom: 5%;
 }
 .experts-sec .content .image .overlay .overlay-content {
   
    top: 10%;
}

.contact-sec .content {

    height: 100% !important;
}

.contact-sec .image {
    height: 100% !important;
}

   /*--//Home--*/
    /*--Get Credit--*/
    .get-credit-sec .col-lg-6:nth-child(3) .image,
    .get-credit-sec .col-lg-6:nth-child(4) .image,
    .get-credit-sec .col-lg-6:nth-child(7) .image, 
    .get-credit-sec .col-lg-6:nth-child(8) .image, 
    .get-credit-sec .col-lg-6:nth-child(3) .white, 
    .get-credit-sec .col-lg-6:nth-child(4) .white,
    .get-credit-sec .col-lg-6:nth-child(7) .white,
    .get-credit-sec .col-lg-6:nth-child(8) .white {
        height: 100%;
    }
    .get-credit-sec .text {

        padding-top:20px;
    }
    /*--//Get Credit--*/
  
}
@media screen and  (min-width:1440px){

    /*--Home--*/
    .contact-sec .content {

        height: 100% !important;
    }
    
    .contact-sec .image {
        height: 100% !important;
    }
    /*--//Home--*/
    /*--Get Credit--*/
    .get-credit-sec .col-lg-6:nth-child(3) .image,
    .get-credit-sec .col-lg-6:nth-child(4) .image,
    .get-credit-sec .col-lg-6:nth-child(7) .image, 
    .get-credit-sec .col-lg-6:nth-child(8) .image, 
    .get-credit-sec .col-lg-6:nth-child(3) .white, 
    .get-credit-sec .col-lg-6:nth-child(4) .white,
    .get-credit-sec .col-lg-6:nth-child(7) .white,
    .get-credit-sec .col-lg-6:nth-child(8) .white {
        height: 100%;
    }
    /*--//Get Credit--*/
}
/*--//media query--*/
